@import 'bootstrap';
@import 'bootstrap-icons';

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


.jumbotron {
  background-color: rgb(255, 242, 0);
}

.best-receips {
  background-color: rgb(198, 197, 197);
}

.btn-warning {
  font-size: 12px;
  border-radius: 24px;
}

.tronca {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.tags {
  height: 60px;
}

.post-title {
  height: 80px;
}